body{
    background: url("../images/body.jpg") no-repeat ;
    background-size:cover; 
    
    font-family: 'Cairo', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Changa', sans-serif;
    font-family: 'Big Shoulders Text', cursive;
    font-family: 'Quicksand', sans-serif;   
    max-width:1920px;
    min-width:320px;
}

.container{
    padding: 0;
    width: 1200px;

}


/* HEADER */
header{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    width:1200px;
    margin-top:50px;
    margin-bottom:25px;  
    height:700px;
    background: url("../images/header.jpg") no-repeat center center;

}
nav {
    height: 100px;
    line-height: 100px;

}

.menu {
    width:400px ;
    margin-top:-100px; 
    margin-left:900px; 
    font-family: 'Cairo', sans-serif;
    font-size:20px;
    list-style-type: none;
}
.menu li{
    position: relative;
    z-index:200000;
    display: inline-block;
    padding: 0 20px;
}
.menu li a {
    position:relative;
    text-decoration: none;
	text-shadow:1px 1px 2px black;
    color: white;
    
}
.menu li a:hover,
.menu li a:focus {
    text-decoration: none;
    color: #706f70;
    border-bottom: 1px solid #706f70;
}


.brandlogo {
    position: relative;
    margin-left:170px; 
	color:#ffff;
	text-shadow: 1px 1px 2px black;
	text-decoration:none;
	font-size:20px;
    font-family: 'Cairo', sans-serif;
}
.brandlogo:hover{
    text-decoration: none;
    color: #706f70;
}
.contain{
    transition: 200ms;
    margin-left:200px;
    font-size:25px;
    font-family: 'Cairo', sans-serif;
    color:#ffff;
    text-shadow: 1px 2px 2px black;
}
.skills{
    margin-top:-30px;
    font-family: 'Quicksand', sans-serif;   
    font-size:35px ;
    color:#ffff;
    text-shadow: 2px 2px 2px black;
}

.me2{
    z-index:4;
    position:relative;
    margin-left:810px;
    margin-top:-690px;
    height:550px;
    width:450px;
}
.border{
    z-index:3;
    opacity:0.5;
    position: absolute;
    left:810px;
    top:400px;
    background: linear-gradient(60deg, #030303, #b1b0b0); 
    border-top-left-radius:     150px 250px;
    border-top-right-radius:    200px 110px;
    border-bottom-right-radius: 220px 120px;
    border-bottom-left-radius:  120px 220px;
    height:350px;
    width:410px;
}


/*skills*/
.parrenthtml{
    border-radius:15px;
    width: 400px;
    height: 6px;
    background:grey;
    border-bottom-left-radius: 20px;
  }
  .parrentcss{
    border-radius:15px;
    width: 400px;
    height: 7px;
    background:grey;
    border-bottom-left-radius: 20px;
  }
  .child{
    border-radius:15px;
    height: 100%;
    background:white ;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .parrentphp{
    border-radius:15px;
    width: 400px;
    height: 6px;
    background:grey;
    border-bottom-left-radius: 20px;
  }
  .parrentjs{
    border-radius:15px;
    width: 400px;
    height: 7px;
    background:grey;
    border-bottom-left-radius: 20px;
  }
 .plhtml{
     font-size:14px;
     margin-top:-23px;
     margin-left:370px;
 }
 .plcss{
    margin-top:-23px;
    font-size:14px;
    margin-left:370px;
}

.plphp{
    margin-top:-23px;
    font-size:14px;
    margin-left:370px;
}

.pljs{
    margin-top:-23px;
    font-size:14px;
    margin-left:370px;
}

  .html{
    margin-top:5px;
    width: 75%;
  }
  .css{
    margin-top:5px;
    width: 65%;
  }
.php{
    margin-top:5px;
    width: 0%;
}
.js{
    margin-top:5px;
    width: 0%;
}
/*skills*/


/*socialmedia*/

.contact{
    margin-left:1000px;
    margin-top:-260px;
}
.linked{
    display:table;
    width:72px;
    height:72px;}
    
    #circle1{
        width: 72px;
        height: 72px;
        border: 2px #ffff solid; 
        display:table;
        border-radius: 50%;
        background:#ffff;
        overflow: hidden;}

        #circle1:hover{
            border-radius: 50%;
            width:72px;
            height:72px;
            border: 2px #706f70 solid;
            background:#706f70}

.git{
    display:table;
    width:72px;
    height:72px;}
        
    #circle2{
        width: 72px;
        height: 72px;
        border: 2px #ffff solid; 
        display:table;
        border-radius: 50%;
        background:#ffff;
        overflow: hidden;}

        #circle2:hover{
            border-radius: 50%;
            width:72px;
            height:72px;
            border: 2px #706f70 solid;
            background:#706f70}

.vk{
    display:table;
    width:72px;
    height:72px;}

    #circle3{
        width: 72px;
        height: 72px;
        border: 2px #ffff solid; 
        display:table;
        border-radius: 50%;
        background:#ffff;
        overflow: hidden;}

        #circle3:hover{
            border-radius: 50%;
            width:72px;
            height:72px;
            border: 2px #706f70 solid;
            background:#706f70}
        
.inst{
    display:table;
    width:72px;
    height:72px;}

#circle4{
    width: 72px;
    height: 72px;
    border: 2px #ffff solid; 
    display:table;
    border-radius: 50%;
    background:#ffff;
    overflow: hidden;}

    #circle4:hover{
        border-radius: 50%;
        width:72px;
        height:72px;
        border: 2px #706f70 solid;
        background:#706f70 }

/*Media queries*/

/* Large Devices, Desktops */
@media only screen and (min-width:1400px) and (max-width:4096px){
    body{
        overflow-y: hidden;
        margin:0;
        min-width:1400px;
        min-height:2000px;
    }
    .container{
        margin-top:20px;
        min-width:993px;
    }
    .contain{
        width:1400px;
        margin-left:200px;
    }
   
    header{
        margin-top:15px;
        min-width:1400px;
        }
    .brandlogo{
            font-size:23px;
            margin-left:150px;
        }
    .brandlogo:hover{
            text-decoration: none;
            color: #706f70;
        }
    .menu{
        min-width:450px;
        font-size:21px;
        margin-left:850px;
    }
    
    .me2{
        margin-top:-527px;
        margin-left:760px;
    }
    .border{
        left:780px;
        top:300px; 
    }
    .contact{
        margin-left:1050px;
    }
    .linked{
        display:table;
        width:72px;
        height:72px;}
        
        #circle1{
            width: 72px;
            height: 72px;
            border: 2px #ffff solid; 
            display:table;
            border-radius: 50%;
            background:#ffff;
            overflow: hidden;}
    
            #circle1:hover{
                border-radius: 50%;
                width:72px;
                height:72px;
                border: 2px #706f70 solid;
                background:#706f70}
    
    .git{
        display:table;
        width:72px;
        height:72px;}
            
        #circle2{
            width: 72px;
            height: 72px;
            border: 2px #ffff solid; 
            display:table;
            border-radius: 50%;
            background:#ffff;
            overflow: hidden;}
    
            #circle2:hover{
                border-radius: 50%;
                width:72px;
                height:72px;
                border: 2px #706f70 solid;
                background:#706f70}
    
    .vk{
        display:table;
        width:72px;
        height:72px;}
    
        #circle3{
            width: 72px;
            height: 72px;
            border: 2px #ffff solid; 
            display:table;
            border-radius: 50%;
            background:#ffff;
            overflow: hidden;}
    
            #circle3:hover{
                border-radius: 50%;
                width:72px;
                height:72px;
                border: 2px #706f70 solid;
                background:#706f70}
            
    .inst{
        display:table;
        width:72px;
        height:72px;}
    
    #circle4{
        width: 72px;
        height: 72px;
        border: 2px #ffff solid; 
        display:table;
        border-radius: 50%;
        background:#ffff;
        overflow: hidden;}
    
        #circle4:hover{
            border-radius: 50%;
            width:72px;
            height:72px;
            border: 2px #706f70 solid;
            background:#706f70 }
    

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width:769px) and (max-width:1399px){
        body{
            min-width:1399px;
            min-height:2000px;
        }
       
        header  {
            min-width:1399px;}

        .brandlogo{
            font-size:21px;
            margin-left:120px;
            
        }
        .brandlogo:hover,
        .brandlogo:focus{
            text-decoration: none;
            color: #706f70;
        }

        .menu{
            min-width:450px;
            font-size:21px;
            margin-left:850px;
        }
    
        .contact{
            margin-left:1050px;
        }

        .border{
            left:770px;
            top:300px;  
        }
        .me2{
            margin-top:-465px;
            margin-left:770px;
        }
        .linked{
            position: relative;
            z-index:3;
            display:table;
            width:62px;
            height:62px;}
            
            #circle1{
                position: relative;
                z-index:3;
                width: 62px;
                height: 62px;
                border: 2px #ffff solid; 
                display:table;
                border-radius: 50%;
                background:#ffff;
                overflow: hidden;}
        
                #circle1:hover,
                #circle1:focus{
                    border-radius: 50%;
                    width:62px;
                    height:62px;
                    border: 2px #706f70 solid;
                    background:#706f70}
        
        .git{
            position: relative;
            z-index:3;
            display:table;
            width:62px;
            height:62px;}
                
            #circle2{
                position: relative;
                z-index:3;
                width: 62px;
                height: 62px;
                border: 2px #ffff solid; 
                display:table;
                border-radius: 50%;
                background:#ffff;
                overflow: hidden;}
        
                #circle2:hover{
                    border-radius: 50%;
                    width:62px;
                    height:62px;
                    border: 2px #706f70 solid;
                    background:#706f70}
        
        .vk{
            position: relative;
            z-index:3;
            display:table;
            width:62px;
            height:62px;}
        
            #circle3{
                position: relative;
                z-index:3;
                width: 62px;
                height: 62px;
                border: 2px #ffff solid; 
                display:table;
                border-radius: 50%;
                background:#ffff;
                overflow: hidden;}
        
                #circle3:hover{
                    position: relative;
                    z-index:3;
                    border-radius: 50%;
                    width:62px;
                    height:62px;
                    border: 2px #706f70 solid;
                    background:#706f70}
                
        .inst{
            position: relative;
            z-index:3;
            display:table;
            width:62px;
            height:62px;}
        
        #circle4{
            position: relative;
            z-index:3;
            width: 62px;
            height: 62px;
            border: 2px #ffff solid; 
            display:table;
            border-radius: 50%;
            background:#ffff;
            overflow: hidden;}
        
            #circle4:hover{
                border-radius: 50%;
                width:62px;
                height:62px;
                border: 2px #706f70 solid;
                background:#706f70 }
 
    }

    /* Small Devices, Tablets */
@media only screen and (min-width: 412px) and (max-width: 768px) {
    body{
        min-width:412px;
        min-height:2000px;
    }
   
    header {
        left:225px;
        position: relative;
        min-width:412px;
        }

        .container{
            margin-top:20px;
            min-width:412px;
        }

    .brandlogo{
        font-size:16px;
        margin-left:420px;
        
    }
    .brandlogo:hover{
        text-decoration: none;
        color: #706f70;
    }
    .menu{
        margin-left:750px;
        font-size:16px;
        width:400px;
    }
    .me2{
        max-width:350px;
        max-height:450px;
        margin-left:810px;
        margin-top:-497px;
    }
    .border{
        max-width:320px;
        max-height:250px;
        left:810px;
        top:397px;
    }
    .skills{
        margin-left:10px ;

    }

    .contain{
        margin-left:400px;
        font-size:18px;
        max-width:400px;
    }
    .contact{
        margin-top:20px;
        margin-left:50px;
    }

    .linked{
        display:inline-block;
        width:62px;
        height:62px;}
        
        #circle1{
            width: 62px;
            height: 62px;
            border: 2px #ffff solid; 
            display:inline-block;
            border-radius: 50%;
            background:#ffff;
            overflow: hidden;}
    
            #circle1:hover,
            #circle1:focus{
                border-radius: 50%;
                width:62px;
                height:62px;
                border: 2px #706f70 solid;
                background:#706f70}
    
    .git{
        display:inline-block;
        width:62px;
        height:62px;}
            
        #circle2{
            width: 62px;
            height: 62px;
            border: 2px #ffff solid; 
            display:inline-block;
            border-radius: 50%;
            background:#ffff;
            overflow: hidden;}
    
            #circle2:hover{
                border-radius: 50%;
                width:62px;
                height:62px;
                border: 2px #706f70 solid;
                background:#706f70}
    
    .vk{
        display:inline-block;
        width:62px;
        height:62px;}
    
        #circle3{
            width: 62px;
            height: 62px;
            border: 2px #ffff solid; 
            display:inline-block;
            border-radius: 50%;
            background:#ffff;
            overflow: hidden;}
    
            #circle3:hover{
                border-radius: 50%;
                width:62px;
                height:62px;
                border: 2px #706f70 solid;
                background:#706f70}
            
    .inst{
        position: relative;
        z-index:3;
        display:inline-block;
        width:62px;
        height:62px;}
    
    #circle4{
        width: 62px;
        height: 62px;
        border: 2px #ffff solid; 
        display:inline-block;
        border-radius: 50%;
        background:#ffff;
        overflow: hidden;}
    
        #circle4:hover{
            border-radius: 50%;
            width:62px;
            height:62px;
            border: 2px #706f70 solid;
            background:#706f70 }

}

/*Extra Small Devices */
@media only screen and (min-width: 120px) and (max-width: 411px) {
    body{
        min-height:1000px;
        min-width:420px;
    }
    .container{
        width:415px;
        height:820px;
    }
   
    header {
        position:relative;
        left:50%;
        min-height:900px;
        max-width:440px;
    }

    .brandlogo{
        margin-top:10px;
        font-size:14px;
        margin-left:50px;
        
    }
    .brandlogo:hover{
        text-decoration: none;
        color: #706f70;
    }
    .menu{
        font-size:15px;
        margin-top:-10px;
        margin-left:2px;
    }
    .skills{
        margin-top:10px;
        margin-left:-150px;
        font-size:25px;
    }
    .me2{
    display:none;
    margin-left:150px;
    max-width:250px ;
    max-height:150px;
    }
    .border{
        display:none;
    }
    .contact{
        font-size:20px;
        width:170px;
        margin-left:-70px;
        margin-top:20px

    }
    .linked{
        display:inline-block;
        width:32px;
        height:32px;}
        
        #circle1{
            width: 32px;
            height: 32px;
            border: 2px #ffff solid; 
            display:inline-block;
            border-radius: 50%;
            background:#ffff;
            overflow: hidden;}
    
            #circle1:hover,
            #circle1:focus{
                border-radius: 50%;
                width:32px;
                height:32px;
                border: 2px #706f70 solid;
                background:#706f70}
    
    .git{
        display:inline-block;
        width:32px;
        height:32px;}
            
        #circle2{
            width: 32px;
            height: 32px;
            border: 2px #ffff solid; 
            display:inline-block;
            border-radius: 50%;
            background:#ffff;
            overflow: hidden;}
    
            #circle2:hover{
                border-radius: 50%;
                width:32px;
                height:32px;
                border: 2px #706f70 solid;
                background:#706f70}
    
    .vk{
        display:inline-block;
        width:32px;
        height:32px;}
    
        #circle3{
            width: 32px;
            height: 32px;
            border: 2px #ffff solid; 
            display:inline-block;
            border-radius: 50%;
            background:#ffff;
            overflow: hidden;}
    
            #circle3:hover{
                border-radius: 50%;
                width:32px;
                height:32px;
                border: 2px #706f70 solid;
                background:#706f70}
            
    .inst{
        display:inline-block;
        width:32px;
        height:32px;}
    
    #circle4{
        width: 32px;
        height: 32px;
        border: 2px #ffff solid; 
        display:inline-block;
        border-radius: 50%;
        background:#ffff;
        overflow: hidden;}
    
        #circle4:hover{
            border-radius: 50%;
            width:32px;
            height:32px;
            border: 2px #706f70 solid;
            background:#706f70 }
            .css{
                font-size:21px;

            }
            .plcss{
                margin-left:100px;
                font-size:18px;

            }
            .html{
                
                margin-top:-10px;
                font-size:21px;

            }
            .plhtml{
                margin-left:100px;
                font-size:18px;

            }
            .php{
                font-size:21px;

            }
            .plphp{
                margin-left:100px;
                font-size:18px;
            }
            .js{
                margin-top:-5px;
                font-size:21px;
                
            }
            .pljs{
                margin-left:100px;
                font-size:18px;
            }
            .parrenthtml{
                margin-left:-150px;
                border-radius:15px;
                width: 250px;
                height: 6px;
                background:grey;
                border-bottom-left-radius: 20px;
              }
              .parrentcss{
                margin-left:-150px;
                border-radius:15px;
                width: 250px;
                height: 7px;
                background:grey;
                border-bottom-left-radius: 20px;
              }
              .child{
                border-radius:15px;
                height: 100%;
                background:white ;
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 20px;
              }
              .parrentphp{
                margin-left:-150px;
                border-radius:15px;
                width: 250px;
                height: 6px;
                background:grey;
                border-bottom-left-radius: 20px;
              }
              .parrentjs{
                margin-left:-150px;
                border-radius:15px;
                width: 250px;
                height: 7px;
                background:grey;
                border-bottom-left-radius: 20px;
              }
              h1{  
                  width:200px;
                  text-align:center;
                  margin-left:-90px;
                  margin-top:100px;
                  font-size:25px ;
              }

}


