body{
    background:snow;
    background-size:cover; 
    font-family: 'Play', sans-serif; 
    font-size:30px; 
    margin: 0;
    width:100%;
    height:100%;
}

@media screen and (max-width: 100%) {
    body {width: 100%;}
}

.header{  
    background:#3B3C38; 
    position:fixed;
    text-align:center; 
    height:50px;
    width:100%;
    top:-2px;
    padding-top:10px; 
}


.imglogo{
    width:400px;
    height:200px;
    margin-top:-80px;
    margin-right:1400px;
    padding-right:80px;
    padding-left:-200px; 
}


.about{
    margin-left:700px; 
    display: inline-block;   
}
.contacts{
    display: inline-block;
    width:145px;
    margin-left:40px;  
}
.github{
    padding-left:50px;
    display: inline-block; 
      
}
.container-center{
    padding-top:25px;
    text-align:center;
    width:100%;
    height:400px;
    color:white;
    font-size:45px;
    font-family: 'Exo 2', sans-serif;
    text-shadow: 3px 3px 3px black;
    background:#292A27;
    opacity:50%;
}
.skills{ 
    font-size:40px; 
    height:50px;
    margin-top:-50px; 
}

.content{  
    background:#d1cdc4;
    width:100%;
    height:500px; 
}

.footer{
    padding-left:3px; 
    color:#4e525b; 
    width:100%;
    height:150px;
    background:#20232A;
}

a{
    color:#8F8F8E; 
    text-decoration:none; 
}
a:hover{
    color:orange;
}

.socialmedia{
    padding-top:40px;
    background:snow;
    width:30%;
    height:100px; 
    text-decoration:underline;
    font-weight:bold;
    padding-left:600px;
}
.socialbuttons{
    margin-top:-30px;
    padding-bottom:20px;
    background:snow;
    width:30%;
    padding-left:600px;
    display: inline-block;
}