body{
    background:snow;
    background-size:cover; 
    font-family: 'Play', sans-serif; 
    font-size:30px; 
    margin: 0;
    width:100%;
    max-width:1980px;
}

#wrapper{
    margin:0 auto;
    width:100%;
    max-width:1980px;
}
@media(max-width:1005px){
 
    .github{
        margin-left:20px;
    }
    .contacts{
        margin-right:10px; 
    }
    .about{
        margin-right:20px;
    }
}

    @media(max-width:900px){
    .imglogo{
        display:none; 
    }
    }

    @media(max-width:730px){
    .header{
        text-align:left; 
    }
    .about{
        font-size:12px;
        margin-left:5px;
    }
    .contacts{
        font-size:12px;
    }
    
    .github{
        font-size:12px;
        margin-left:10px;
    }
    
    .imglogo{
        display: none;
    }
}

@media(max-width:437px){
    .about{ 
        margin-left: auto;
        display:inline-block;
        font-size:7px;
        
    }
    .contacts{
        margin-left: auto;
        display:inline-block;
        font-size:7px;
    }
    
    .github{
        margin-left:5px;
        display:inline-block;
        font-size:7px;
    }
    
    .imglogo{
        display: none;
    }
}



@media(max-width:390px){
    .header{
        position: absolute;
    }
    .about{
        white-space: nowrap;
        width: 10px;
        display:inline-block;
        font-size:6px;
        
    }
    .contacts{
        white-space: nowrap;
        width:10px ;
        height:auto;
        display:inline-block;
        font-size:6px;
    }
    
    .github{
        white-space: nowrap;
        width:10px ;
        display:inline-block;
        font-size:6px;
    }
    
    .imglogo{
        display: none;
    }
}


.header{ 
    font-size:21px; 
    max-width:1980px;  
    position:fixed;
    text-align:right; 
    height:50px;
    width:100%;
    top:-2px;
    padding-top:10px; 
}


.imglogo{
    width:280px;
    height:auto;
    margin-top:-60px;
    margin-right:1400px;
    padding-right:80px;
    padding-left:-200px; 
}


.about{
    display: inline-block;
    margin-top:15px;
     
}
.contacts{ 
    display: inline-block;
    max-width:9%;
    height:auto; 
    margin-top:10px;
}
.github{ 
    margin-right:250px;
    display: inline-block; 
    max-width:7.7%;
    margin-top:10px; 
}
.container-center{
    padding-top:-200px;
    text-align:left;
    max-width:1980px;
    width:100%;
    height:400px;
    color:white;
    font-size:20px;
    font-family: 'Exo 2', sans-serif;
    text-shadow: 3px 3px 3px black;
    background:#292A27;
    opacity:50%;
}
.me{
    padding-top:50px;
}
.skills{ 
    padding-left:200px;
    margin-bottom:200px;
    font-size:40px; 
    height:50px;
}

.content{  
    background:#292A27;
    width:100%;
    height:500px; 
}


.socialmedia{
    text-align:center;
    padding-top:40px;
    width:100%;
    height:100px; 
    text-decoration:underline;
    font-weight:bold;
}

.socialbuttons{
    text-align:center;
    margin-top:-30px;
    padding-bottom:20px;
    width:100%;
    display: inline-block;
}

.footer{ 
    color:#4e525b; 
    width:100%;
    height:75px;
    background:#20232A;
}

a{
    color:#8F8F8E; 
    text-decoration:none; 
}
a:hover{
    color:orange;
}