body{
    background: url("../images/body.jpg") no-repeat ;
    background-size:cover; 
    
    font-family: 'Cairo', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Changa', sans-serif;
    font-family: 'Big Shoulders Text', cursive;
    font-family: 'Quicksand', sans-serif;   
    min-width:320px ;
    
}

.container{
    padding: 0;
    width: 1200px;

}


/* HEADER */
header{
    margin-top:50px;
    margin-bottom:25px;  
    height: 600px;
    background: url("../images/header.jpg") no-repeat center center;

}
nav {

    height: 100px;
    line-height: 100px;

}

.menu {
    width:400px ;
    margin-top:-100px; 
    margin-left:900px; 
    font-family: 'Cairo', sans-serif;
    font-size:18px;
    list-style-type: none;
}
.menu li{
    position: relative;
    z-index:200000;
    display: inline-block;
    padding: 0 20px;
}
.menu li a {
    position:relative;
    text-decoration: none;
	text-shadow:1px 1px 2px black;
    color: white;
    
}
.menu li a:hover,
.menu li a:focus {
    text-decoration: none;
    color: #706f70;
    border-bottom: 1px solid #706f70;
}


.brandlogo {
    margin-left:170px; 
	color:#ffff;
	text-shadow: 1px 1px 2px black;
	text-decoration:none;
	font-size:30px;
    font-family: 'Cairo', sans-serif;
}
.brandlogo:hover{
    text-decoration: none;
    color: #706f70;
}
.contain{
    transition:200ms;
    font-family: 'Cairo', sans-serif;
    text-align:center;
    font-size:35px;
    color:white;
    text-shadow:4px 4px 4px #000 ;
}
.contact{
    margin-left:1300px;
    margin-top:-50px;
}
.linked{
    display:table;
    width:72px;
    height:72px;}
    
    #circle1{
        width: 72px;
        height: 72px;
        border: 2px #ffff solid; 
        display:table;
        border-radius: 50%;
        background:#ffff;
        overflow: hidden;}

        #circle1:hover{
            border-radius: 50%;
            width:72px;
            height:72px;
            border: 2px #706f70 solid;
            background:#706f70}

.git{
    display:table;
    width:72px;
    height:72px;}
        
    #circle2{
        width: 72px;
        height: 72px;
        border: 2px #ffff solid; 
        display:table;
        border-radius: 50%;
        background:#ffff;
        overflow: hidden;}

        #circle2:hover{
            border-radius: 50%;
            width:72px;
            height:72px;
            border: 2px #706f70 solid;
            background:#706f70}

.vk{
    display:table;
    width:72px;
    height:72px;}

    #circle3{
        width: 72px;
        height: 72px;
        border: 2px #ffff solid; 
        display:table;
        border-radius: 50%;
        background:#ffff;
        overflow: hidden;}

        #circle3:hover{
            border-radius: 50%;
            width:72px;
            height:72px;
            border: 2px #706f70 solid;
            background:#706f70}
        
.inst{
    display:table;
    width:72px;
    height:72px;}

#circle4{
    width: 72px;
    height: 72px;
    border: 2px #ffff solid; 
    display:table;
    border-radius: 50%;
    background:#ffff;
    overflow: hidden;}

    #circle4:hover{
        border-radius: 50%;
        width:72px;
        height:72px;
        border: 2px #706f70 solid;
        background:#706f70 }
