body{
    background: url("../images/body.jpg") no-repeat ;
    background-size:cover; 
    
    font-family: 'Cairo', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Changa', sans-serif;
    font-family: 'Big Shoulders Text', cursive;
    font-family: 'Quicksand', sans-serif;   
    max-width:2000px ;
    width: 100%;
    
}

.container{
    padding: 0;
    width: 1200px;

}


/* HEADER */
header{
    left: 50%;
    transform: translate(-50%, 0);
    width:1200px;
    margin-top:50px;
    margin-bottom:25px;  
    height:700px;
    background: url("../images/header.jpg") no-repeat center center;
}
nav {

    height: 100px;
    line-height: 100px;

}

.menu {
    width:400px ;
    margin-top:-100px; 
    margin-left:900px; 
    font-family: 'Cairo', sans-serif;
    font-size:18px;
    list-style-type: none;
}
.menu li{
    position: relative;
    z-index:200000;
    display: inline-block;
    padding: 0 20px;
}
.menu li a {
    position:relative;
    text-decoration: none;
	text-shadow:1px 1px 2px black;
    color: white;
    
}
.menu li a:hover,
.menu li a:focus {
    text-decoration: none;
    color: #706f70;
    border-bottom: 1px solid #706f70;
}


.brandlogo {
    margin-left:170px; 
	color:#ffff;
	text-shadow: 1px 1px 2px black;
	text-decoration:none;
	font-size:30px;
    font-family: 'Cairo', sans-serif;
}
.brandlogo:hover{
    text-decoration: none;
    color: #706f70;
}
.contain{
    transition:200ms;
    font-family: 'Cairo', sans-serif;
    text-align:center;
    font-size:35px;
    color:white;
    text-shadow:4px 4px 4px #000 ;
}
.contact{
    margin-left:1300px;
    margin-top:-50px;
}
.linked{
    display:table;
    width:72px;
    height:72px;}
    
    #circle1{
        width: 72px;
        height: 72px;
        border: 2px #ffff solid; 
        display:table;
        border-radius: 50%;
        background:#ffff;
        overflow: hidden;}

        #circle1:hover{
            border-radius: 50%;
            width:72px;
            height:72px;
            border: 2px #706f70 solid;
            background:#706f70}

.git{
    display:table;
    width:72px;
    height:72px;}
        
    #circle2{
        width: 72px;
        height: 72px;
        border: 2px #ffff solid; 
        display:table;
        border-radius: 50%;
        background:#ffff;
        overflow: hidden;}

        #circle2:hover{
            border-radius: 50%;
            width:72px;
            height:72px;
            border: 2px #706f70 solid;
            background:#706f70}

.vk{
    display:table;
    width:72px;
    height:72px;}

    #circle3{
        width: 72px;
        height: 72px;
        border: 2px #ffff solid; 
        display:table;
        border-radius: 50%;
        background:#ffff;
        overflow: hidden;}

        #circle3:hover{
            border-radius: 50%;
            width:72px;
            height:72px;
            border: 2px #706f70 solid;
            background:#706f70}
        
.inst{
    display:table;
    width:72px;
    height:72px;}

#circle4{
    width: 72px;
    height: 72px;
    border: 2px #ffff solid; 
    display:table;
    border-radius: 50%;
    background:#ffff;
    overflow: hidden;}

    #circle4:hover{
        border-radius: 50%;
        width:72px;
        height:72px;
        border: 2px #706f70 solid;
        background:#706f70 }

/*Media queries*/

/* Large Devices, Desktops */
@media only screen and (min-width:1400px) and (max-width:4096px){
    body{
        overflow-y: hidden;
        
        min-height:2000px;
    }
    .container{
        margin-top:20px;
        min-width:993px;
    }
    .contain{
        width:1400px;
        margin-left:200px;
    }
   
    header{
        position: fixed;
        margin-left:25px;
        margin-top:25px;
        min-width:1400px;
        }
    .brandlogo{
            font-size:23px;
            margin-left:150px;
        }

    .menu{
        min-width:450px;
        font-size:21px;
        margin-left:750px;
    }
    .contact{
        margin-left:1200px;
    }
    .contain{
        margin-left:25px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width:769px) and (max-width:1399px){
    body{
        min-width:1299px;
        min-height:2000px;
    }
   
    header  {
        margin-top:50px;
        position:fixed;
        margin:0 auto;
        min-width:1399px;}

    .brandlogo{
        font-size:21px;
        margin-left:120px;  
    }

    .menu{
        min-width:450px;
        font-size:21px;
        margin-left:850px;
    }

    .contact{
        margin-left:1200px;
    }
}

   /* Small Devices, Tablets */
   @media only screen and (min-width: 412px) and (max-width: 768px) {
    body{
        min-width:412px;
        min-height:2000px;
    }
   
    header {
        left:500px;
        position: relative;
        min-width:412px;
        }

        .container{
            margin-top:20px;
            min-width:412px;
        }

    .brandlogo{
        font-size:16px;
        margin-left:120px;
        
    }
    .menu{
        margin-left:550px;
        font-size:16px;
        width:400px;
    }
    .contact{
        margin-left:950px;
    }
    .linked{
        width:62px;
        height:62px;}
        
        #circle1{
            width: 62px;
            height: 62px;
            border: 2px #ffff solid; 
            border-radius: 50%;
            background:#ffff;
            overflow: hidden;}
    
            #circle1:hover,
            #circle1:focus{
                border-radius: 50%;
                width:62px;
                height:62px;
                border: 2px #706f70 solid;
                background:#706f70}
    
    .git{
        width:62px;
        height:62px;}
            
        #circle2{
            width: 62px;
            height: 62px;
            border: 2px #ffff solid; 
            border-radius: 50%;
            background:#ffff;
            overflow: hidden;}
    
            #circle2:hover{
                border-radius: 50%;
                width:62px;
                height:62px;
                border: 2px #706f70 solid;
                background:#706f70}
    
    .vk{
        width:62px;
        height:62px;}
    
        #circle3{
            width: 62px;
            height: 62px;
            border: 2px #ffff solid; 
            border-radius: 50%;
            background:#ffff;
            overflow: hidden;}
    
            #circle3:hover{
                border-radius: 50%;
                width:62px;
                height:62px;
                border: 2px #706f70 solid;
                background:#706f70}
            
    .inst{
        position: relative;
        z-index:3;
        width:62px;
        height:62px;}
    
    #circle4{
        width: 62px;
        height: 62px;
        border: 2px #ffff solid; 
        border-radius: 50%;
        background:#ffff;
        overflow: hidden;}
    
        #circle4:hover{
            border-radius: 50%;
            width:62px;
            height:62px;
            border: 2px #706f70 solid;
            background:#706f70 }
}

/*Extra Small Devices */
@media only screen and (min-width: 120px) and (max-width: 411px) {
    body{
        min-height:2000px;
        height:100%;
        min-width:420px;
    }
    .container{
        min-width:415px;
        height:820px;
    }
   
    header {
        margin-left:600px;
        min-height:900px;
        min-width:440px;
    }

    .brandlogo{
        margin-top:10px;
        font-size:14px;
        margin-left:50px;
        
    }
    .brandlogo:hover{
        text-decoration: none;
        color: #706f70;
    }
    .menu{
        font-size:15px;
        margin-left:700px;
    }
    .contact{
        margin-left:1050px;
    }
}