@font-face {
    font-family: 'Odibee-Sans-Regular';
    src: url('../font/OdibeeSans/OdibeeSans-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

html,
body,
header,
#intro {
    /* font-family: 'Jura', sans-serif;
    font-family: 'Odibee Sans', cursive;*/
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

#intro {
    background: url(../img/header.jpeg) no-repeat center center fixed;
    background-size: cover;
    text-shadow: 2px 2px 2px #000;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #848484;
}

.fixed-action-btn {
    font-size: 2rem;
}

.grey-text {
    color: #3f3f3f;
}

ul.navbar-nav-mr-auto.smooth-scroll {
    font-family: 'Jura', sans-serif;
    font-size: 1.2rem;
}

h2.font-weight-bold.white-text.container-fluid.text-center {
    font-family: 'Odibee-Sans-Regular', normal;
}

h2.display-4.font-weight-bold.white-text.pt-5.mb-2 {
    border: solid 2px white;
}

.font-weight-bold.white-text.pt-5.mb-2 {
    font-size: 3.5rem;
}

h2.mb-5.font-weight-bold.text-center,
.mb-5.font-weight-bold {
    font-size: 3.5rem;
    font-family: 'Odibee-Sans-Regular', normal;
}

.link-about-me a i:hover {
    color: grey;
}

.name.font-weight-bold.white-text {
    font-size: 3.5rem;
}

.progress.md-progress {
    background-color: #C2C8CE;
}

.progress-bar {
    background-color: #000;
}

.top-nav-collapse {
    background-color: #000;
}

#section-last-projects,
#section-contact,
#section-gallery,
#section-main {
    padding-top: 6em;
}

#main::before,
#portfolio::before,
#aboutme::before,
#contact::before {
    display: block;
    content: " ";
    margin-top: -65px;
    height: 65px;
    visibility: hidden;
}

.md-form.form-sm {
    color: #000;
}

footer {
    background: #000;
}

@media (max-width:768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #000;
    }
}