
body{
    background: url("../images/body.jpg") no-repeat ;
    background-size:cover; 
    
    font-family: 'Cairo', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Changa', sans-serif;
    min-width:320px ;
    
}

.container{
    padding: 0;
    width: 1200px;

}


/* HEADER */
header{
    margin-top:50px;
    margin-bottom:25px;  
    height: 600px;
    background: url("../images/header.jpg") no-repeat center center;

}
nav {
    height: 100px;
    line-height: 100px;

}

.menu {
    width:400px ;
    margin-top:-100px; 
    margin-left:900px; 
    font-family: 'Cairo', sans-serif;
    font-size:18px;
    list-style-type: none;
}
.menu li{
    position: relative;
    z-index:200000;
    display: inline-block;
    padding: 0 20px;
}
.menu li a {
    text-decoration: none;
	text-shadow:1px 1px 2px black;
    color: white;
    
}
.menu li a:hover,
.menu li a:focus {
    text-decoration: none;
    color: #706f70;
    border-bottom: 1px solid #706f70;
}


.brandlogo {
    margin-left:170px; 
	color:#ffff;
	text-shadow: 1px 1px 2px black;
	text-decoration:none;
	font-size:30px;
    font-family: 'Cairo', sans-serif;
}
.brandlogo:hover{
    text-decoration: none;
    color: #706f70;
}



#skill_text p{
    font-size: 72px;
    font-family: 'Rajdhani', sans-serif;
}
.contact{
    width:400px;
    position: relative;  
    margin-left:950px;
    margin-top:-250px;
	text-align:center;
	font-size:26px;
	font-family: 'Cairo', sans-serif;
	color:#ffff;
	text-shadow: 1px 2px 2px black;
}
.name2 {
    transition:200ms;
    text-align:center; 
    position:relative;
	padding-top:50px;
	padding-left:700px;
    font-size:60px;
    font-family: 'Rajdhani', sans-serif;
	color:white;
    text-shadow: 1px 2px 2px black;}


.linked{
    width:72px;
    height:72px;}
    
    #circle1{
        width: 72px;
        height: 72px;
        border: 2px #ffff solid; 
        display:inline-block;
        border-radius: 50%;
        background:#ffff;
        overflow: hidden;}

        #circle1:hover{
            border-radius: 50%;
            width:72px;
            height:72px;
            border: 2px #706f70 solid;
            background:#706f70}

.git{
    width:72px;
    height:72px;}
        
    #circle2{
        width: 72px;
        height: 72px;
        border: 2px #ffff solid; 
        display:inline-block;
        border-radius: 50%;
        background:#ffff;
        overflow: hidden;}

        #circle2:hover{
            border-radius: 50%;
            width:72px;
            height:72px;
            border: 2px #706f70 solid;
            background:#706f70}

.vk{
    width:72px;
    height:72px;}

    #circle3{
        width: 72px;
        height: 72px;
        border: 2px #ffff solid; 
        display:inline-block;
        border-radius: 50%;
        background:#ffff;
        overflow: hidden;}

        #circle3:hover{
            border-radius: 50%;
            width:72px;
            height:72px;
            border: 2px #706f70 solid;
            background:#706f70}
        
.inst{
    width:72px;
    height:72px;}

#circle4{
    width: 72px;
    height: 72px;
    border: 2px #ffff solid; 
    display:inline-block;
    border-radius: 50%;
    background:#ffff;
    overflow: hidden;}

    #circle4:hover{
        border-radius: 50%;
        width:72px;
        height:72px;
        border: 2px #706f70 solid;
        background:#706f70 }
.me{
    position: relative;
    z-index:10050;
    margin-top:-452px; 
    margin-left:420px;
    height:750px;
    width:600px;
}
    .border{
        position:absolute;
        z-index:100;
        opacity:0.5 ;
        margin-top:-410px; 
        margin-left:480px;
        height:220px;
        width:400px;
        padding-top:180px;
        background: linear-gradient(60deg, #030303, #b1b0b0);
        border-top-left-radius:     120px 220px;
        border-top-right-radius:    200px 110px;
        border-bottom-right-radius: 150px 120px;
        border-bottom-left-radius:  120px 220px;
        overflow: hidden;
    }